In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
np.set_printoptions(precision=2)

In [3]:
data = pd.read_csv('final_cars_datasets.csv', error_bad_lines=False)

In [4]:
data.head()

,Unnamed: 0,price,mark,model,year,mileage,engine_capacity,transmission,drive,hand_drive,fuel
0,0,80,nissan,march,2003,80000,1240,at,2wd,rhd,gasoline
1,1,110,nissan,march,2010,53000,1200,at,2wd,rhd,gasoline
2,2,165,nissan,lafesta,2005,47690,2000,at,2wd,rhd,gasoline
3,3,190,toyota,avensis,2008,130661,1990,at,2wd,rhd,gasoline
4,4,190,daihatsu,mira,2006,66300,660,at,2wd,rhd,gasoline

**Сведем эту таблицу к данным, имеющим одинаковую марку, модель, год, трансмиссию и т.д. Различия в этих данных будут заключаться только в пробеге и цене.**

In [22]:
hd=data[(data["mark"] == "nissan") & (data["transmission"] == "at") & (data["model"] == "note")& (data["year"] == 2011) & (data["drive"]=="2wd")]

In [23]:
hd

,Unnamed: 0,price,mark,model,year,mileage,engine_capacity,transmission,drive,hand_drive,fuel
41,43,350,nissan,note,2011,143000,1500,at,2wd,rhd,gasoline
61,63,380,nissan,note,2011,125000,1500,at,2wd,rhd,gasoline
62,64,380,nissan,note,2011,123000,1500,at,2wd,rhd,gasoline
65,67,390,nissan,note,2011,138000,1500,at,2wd,rhd,gasoline
66,68,390,nissan,note,2011,120000,1500,at,2wd,rhd,gasoline
71,73,390,nissan,note,2011,59800,1500,at,2wd,rhd,gasoline
72,74,390,nissan,note,2011,96300,1500,at,2wd,rhd,gasoline
93,95,400,nissan,note,2011,29000,1500,at,2wd,rhd,gasoline
97,99,400,nissan,note,2011,128000,1500,at,2wd,rhd,gasoline
99,101,400,nissan,note,2011,161600,1500,at,2wd,rhd,gasoline
106,108,430,nissan,note,2011,102000,1500,at,2wd,rhd,gasoline
109,111,440,nissan,note,2011,113000,1500,at,2wd,rhd,gasoline
122,124,450,nissan,note,2011,77000,1500,at,2wd,rhd,gasoline
125,127,450,nissan,note,2011,67000,1500,at,2wd,rhd,gasoline
129,131,450,nissan,note,2011,118000,1500,at,2wd,rhd,gasoline
137,139,460,nissan,note,2011,77000,1500,at,2wd,rhd,gasoline
216,220,550,nissan,note,2011,44400,1500,at,2wd,rhd,gasoline
218,222,550,nissan,note,2011,56000,1500,at,2wd,rhd,gasoline
221,225,550,nissan,note,2011,119000,1500,at,2wd,rhd,gasoline
271,275,580,nissan,note,2011,43600,1500,at,2wd,rhd,gasoline
362,366,650,nissan,note,2011,80900,1500,at,2wd,rhd,gasoline
512,516,750,nissan,note,2011,76300,1500,at,2wd,rhd,gasoline
522,526,750,nissan,note,2011,50492,1500,at,2wd,rhd,gasoline
722,730,840,nissan,note,2011,105000,1500,at,2wd,rhd,gasoline
855,863,890,nissan,note,2011,49100,1500,at,2wd,rhd,gasoline
856,864,890,nissan,note,2011,48000,1500,at,2wd,rhd,gasoline
1497,1513,1130,nissan,note,2011,100000,1490,at,2wd,rhd,gasoline
2079,2095,1320,nissan,note,2011,70000,1490,at,2wd,rhd,gasoline
2201,2219,1370,nissan,note,2011,75000,1490,at,2wd,rhd,gasoline

In [24]:
x=np.array(hd["mileage"]).reshape((-1,1))
y=np.array(hd["price"])

In [25]:
y

array([ 350,  380,  380,  390,  390,  390,  390,  400,  400,  400,  430,
        440,  450,  450,  450,  460,  550,  550,  550,  580,  650,  750,
        750,  840,  890,  890, 1130, 1320, 1370], dtype=int64)

In [26]:
model = LinearRegression()

In [27]:
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Коэффициент детерминации**

In [28]:
r_sq = model.score(x, y)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.1233767623369798

*Малое значение коэффициента детерминации связано с тем, что входная переменная(пробег) плохо коррелирует с выходной переменной(цена). Так, можно увидеть, что в некоторых случаях при большом значении пробега, цена куда больше, чем при значении пробега поменьше.*

In [31]:
y_pred = model.predict(x)
print('predicted response:', y_pred, sep='\n')

predicted response:
[446.14 497.56 503.27 460.43 511.84 683.8  579.54 771.78 488.99 393.01
 563.26 531.84 634.67 663.24 517.56 634.67 727.79 694.66 514.7  730.08
 623.53 636.67 710.39 554.69 714.37 717.51 568.97 654.67 640.38]